*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva , sans-serif;
}

#nav{
    /* border: 2px solid; */
    height: 80px;
    background-color: #000;
    color: #fff;
}

#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sub-nav span svg{
    height: 2.5em;
    fill: #fff;
}

#sub-nav ol{
    list-style: none;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    font-size: 16px;
    font-weight: 700;
}

ol li:hover{
    color: #1ed760;
    cursor: pointer;
}

#model{
    border: 5px solid;
    height: 400px;
    width: 200px;
    position: absolute;
    left: 43%;
    display: none;
}
